
        <div class="modal-body">
			<div class="text-center">
                        <div class="i-circle danger"><i class="fa fa-trash-o"></i></div>

                        <p>Are you sure to permanently delete this data?</p>
                      </div>
        </div>
        <div class="modal-footer text-center">
            <button class="btn btn-danger" type="button" ng-click="delete()"><i class="fa fa-trash-o"></i> Yes</button>
            <button class="btn btn-default" type="button" ng-click="close()"><i class="fa fa-times"></i> Cancel</button>
        </div>