<div class="block-flat">
						<div class="header">							
											<h3>Semester List</h3>
						</div>
<div class="row">
	<div class="col-md-3">
		<form method="POST" ng-submit="save()">
				<div class="form-group">
					<label for="exampleInputPassword1">Semester</label>
					<input type="text" ng-model="formData.Semester"  class="form-control" required>
				</div>
				<button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Save</button>
		</form>
	</div>
	<div class="col-md-9">

					<form ng-submit="load()">
						<div class="input-group col-sm-5">
							<input type="text" class="form-control" ng-model="searchText">
							<span class="input-group-btn">
							<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> Search</button>
							</span>
						</div>
					</form>
					
				<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Semester</th>
						<th>Current</th>
						<th width="20%"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in list">
						<td>{{row.Semester}}</td>
						<td class="text-center">
						  <input type="radio" ng-model="row.Current" ng-click="ClearRadio();row.Current=true;SaveAll()" ng-value="true" name="current">
						</td>
						<td>
							<button class="btn btn-success btn-sm" ng-click="getById(row.Id)"> <i class="fa fa-edit"></i> </button>
							<button class="btn btn-danger btn-sm" ng-click="openDeleteModal('md',row.Id)"> <i class="fa fa-trash-o"></i>  </button>
						</td>
					</tr>
				</tbody>
			</table>
			  <uib-pagination ng-model="pageNo" ng-click="pageChanged()" items-per-page="pageSize" total-items="count"  max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></uib-pagination>
	</div>
</div>
</div>
