
<div class="block-flat">
						<div class="header">							
											<h3>Generate Barcode</h3>
						</div>
<div class="row" ng-if="checkRole('Generate Barcode','AllowView')">
	<div class="col-md-2" ng-if="checkRole('Generate Barcode','AllowAdd')">
		<form method="POST"  ng-submit="save()">
				<div class="form-group">
					<label for="exampleInputPassword1">Number</label>
					<input type="text" ng-model="formData.Number"  class="form-control" required>
				</div>
				<button type="submit"  class="btn btn-success"><i class="fa fa-barcode"></i> Generate</button>
		</form>
	</div>
	<div class="col-md-10">
			<button ng-if="randomCode.length > 0" type="button" ng-click="printDiv('print')" class="btn btn-info btn-sm"><i class="fa fa-print"></i> Print Barcode</button>
		<div id="print">
				<div ng-repeat="row in randomCode" style="float:left;margin-bottom:10px;">
						<io-barcode  code="{{row.Code}}" type="{{ BarcodeType }}" options="BarcodeOptions"></io-barcode>
				</div>
		</div>
	</div>
</div>
</div>
