<div class="block-flat">
						<div class="header">	
			<div class="pull-right"><a class="btn btn-default" href="#/user/list"><i class="fa fa-arrow-left"></i> Back</a></div>						
											<h3>User Roles</h3>
						</div>
<div class="row">
	<div class="col-md-12">
				<form method="post" ng-submit="Save()">	
				<table class="table table-bordered table-condensed">
				<thead>
					<tr>
<!-- 						<th width="10%"  class="text-center">
						</th> -->
						<th>Roles</th>
						<th>Allow View</th>
						<th>Allow Add</th>
						<th>Allow Edit</th>
						<th>Allow Delete</th>


					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in RoleList">

						<td>{{row.role}}</td>
						<td class="text-center">
							<input type="checkbox" ng-model="row.UserRole.AllowView" ng-checked="row.UserRole.AllowView"> 
						</td>
						<td class="text-center">
							<input type="checkbox" ng-model="row.UserRole.AllowAdd" ng-checked="row.UserRole.AllowAdd"> 
						</td>
						<td class="text-center">
							<input type="checkbox" ng-model="row.UserRole.AllowEdit" ng-checked="row.UserRole.AllowEdit"> 
						</td>
						<td class="text-center">
							<input type="checkbox" ng-model="row.UserRole.AllowDelete" ng-checked="row.UserRole.AllowDelete"> 
						</td>
					</tr>
				</tbody>
			</table>
			<hr>

			<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
			</form>
	</div>
</div>
</div>
