<div class="row">
	<div class="col-md-12">
			    	<div class="block-flat">
						<div class="header">		
							<div class="pull-right"><a href="#/member/list/{{type}}" class="btn btn-arrow-left"><i class="fa fa-arrow-left"></i> Back</a></div>						
							<h3>{{PageTitle}}</h3>
						</div>
						<div class="content">

		
		<div class="row">
	<div class="col-md-9">
		<form method="POST" class="form-horizontal" name="YearForm" ng-submit="save()">
				<div class="form-group">
					<label class="control-label col-md-4">Id Number</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.IdNumber"  class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Barcode No.</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.Barcode"  class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Firstname</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.firstname"  class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Lastname</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.lastname"  class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Middlename</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.middlename"  class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Gender</label>
					<div class="col-md-8">
						<select type="text" ng-model="formData.gender"  class="form-control" required>
							<option></option>
							<option>Male</option>
							<option>Female</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Course</label>
					<div class="col-md-8">
						<select type="text" ng-model="formData.CourseId" ng-change="loadCourseYear(formData.CourseId)"  ng-options="row.Id as row.course for row in courseList" class="form-control" required>

						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Year</label>
					<div class="col-md-8">
						<select type="text" ng-model="formData.CourseYearId" ng-change="loadSection(formData.CourseYearId)"  ng-options="row.Id as row.year for row in yearList" class="form-control" required>

						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Section</label>
					<div class="col-md-8">
						<select type="text" ng-model="formData.SectionId"  ng-options="row.Id as row.section for row in sectionList" class="form-control" required>

						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Major</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.Major"  class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Organization</label>
					<div class="col-md-8">
						<select type="text" ng-model="formData.Organization"  ng-options="row.Code as row.Name + ' ' + '('+row.Code +')' for row in OrganizationList" class="form-control" required>

						</select>
					</div>
				</div>
<!-- 				<div class="form-group">
					<label class="control-label col-md-4">Address</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.address"  class="form-control" >
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Mobile NO</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.mobile_no"  class="form-control" >
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Email</label>
					<div class="col-md-8">
						<input type="email" ng-model="formData.email"  class="form-control" >
					</div>
				</div> -->
				<div class="form-group">
					<label class="control-label col-md-4">Image</label>
					<div class="col-md-8">
							<div class="fileinput fileinput-new input-group" data-provides="fileinput">
								<div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> 
								<span class="fileinput-filename"></span></div>
								<span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
										<input type="file" name="file" multiple ng-files="getTheFiles($files)" />
								</span>
								<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
							</div>
					</div>
				</div>
				
				<div class="form-group">
				<div class="col-md-8 col-md-offset-4">
					<button type="submit"  class="btn btn-success"><i class="fa fa-save"></i> Save</button>
				</div>
				</div>
		</form>
	</div>

</div>

		
		
						</div>
					</div>
	</div>
</div>