

        <div class="modal-header">
			<h3>{{formData.type}} Information</h3>
		</div>
        <div class="modal-body">
		
		
		<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="javascript:void(0)" data-target="#details" aria-controls="home" role="tab" data-toggle="tab">Details</a></li>
    <li role="presentation"><a href="javascript:void(0)" data-target="#attendance" aria-controls="profile" role="tab" data-toggle="tab">Attendance</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="details">
			
						<table class="table">
			
				<tr>
					<td class="text-right">Barcode:</td>
					<td>
						<span id="print">
							<io-barcode  code="{{formData.Barcode}}" type="{{ BarcodeType }}" options="BarcodeOptions"></io-barcode>
						</span>
					</td>
					<td class="text-center">
							<button type="button" class="btn btn-info" ng-click="printDiv('print')" ><i class="fa fa-print"></i> Print Barcode</button>
					</td>
				</tr>
				<tr>
					<td class="text-right">Name:</td>
					<td colspan="2">{{formData.firstname}} {{formData.lastname}}  {{formData.middlename}}</td>
				</tr>
				<tr>
					<td class="text-right">Gender:</td>
					<td colspan="2">{{formData.gender}}</td>
				</tr>
<!-- 				<tr>
					<td class="text-right">Address:</td>
					<td colspan="2">{{formData.address}}</td>
				</tr> -->
<!-- 				<tr>
					<td class="text-right">Mobile No:</td>
					<td colspan="2">{{formData.mobile_no}}</td>
				</tr>
				<tr>
					<td class="text-right">Email:</td>
					<td colspan="2">{{formData.email}}</td>
				</tr> -->
				<tr>
					<td class="text-right">Course:</td>
					<td colspan="2">{{formData.Course.course}}</td>
				</tr>
				<tr>
					<td class="text-right">Year:</td>
					<td colspan="2">{{formData.CourseYear.year}}</td>
				</tr>
				<tr>
					<td class="text-right">Section:</td>
					<td colspan="2">{{formData.Section.section}}</td>
				</tr>
				<tr>
					<td class="text-right">Major:</td>
					<td colspan="2">{{formData.Major}}</td>
				</tr>
				<tr>
					<td class="text-right">Organization:</td>
					<td colspan="2">{{formData.Organization}}</td>
				</tr>
<!-- 				<tr>
					<td class="text-right">Date Registered:</td>
					<td colspan="2">{{formData.date_registered | date:'MM/dd/yyyy'}}</td>
				</tr>
				<tr ng-if="formData.Transfer==1">
					<td class="text-right">Date Graduated:</td>
					<td colspan="2">{{formData.DateTransfer | date:'MM/dd/yyyy'}}</td>
				</tr> -->
				<tr>
					<td class="text-right">Picture:</td>
					<td colspan="2">
							<img  check-image ng-src="core/class/uploads/{{formData.ImageUrl}}" class="img-circle" style="max-height:160px;max-width:160px">
					</td>
				</tr>
			</table>
			
	</div>
    <div role="tabpanel" class="tab-pane" id="attendance">
	<div class="pull-right">
		<button type="button" class="btn btn-info" ng-click="printDiv('printAttendance')" ><i class="fa fa-print"></i> Print</button>
	</div>
	<div id="printAttendance">
						<form  class="form-inline filter_form print-hidden">
					<div class="form-group">
							<label>Semester</label>
							<select ng-change="GetAttendance()" class="form-control" ng-model="Semester" ng-options="s.Semester as s.Semester for s in SemesterList"></select>
					</div>
					<div class="form-group">
							<label>School Year</label>
							<select ng-change="GetAttendance()" class="form-control" ng-model="SchoolYear" ng-options="sy.Id as sy.YearFrom+' - '+sy.YearTo for sy in SchoolYearList"></select>
					</div>
					</form>

					<hr class="print-hidden">

				<div class="text-center visible-print-block reportHeader">
					<h2>{{formData.firstname}} {{formData.lastname}}  {{formData.middlename}}</h2>
					<h3>Attendance List</h3>
					<h3>{{Semester}} - School Year :  {{SchoolYearLabel}}</h3>
				</div>
				
					<table class="table table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Event Date</th>
						<th class="text-center">In AM</th>
						<th class="text-center">Out AM</th>
						<th class="text-center">In PM</th>
						<th class="text-center">Out PM</th>
						<th class="print-hidden" style="width:10%" ng-if="checkRole('Event','AllowDelete')"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in AttendanceList">
						<td>{{row.Name}}</td>
						<td>{{row.EventDate | date:'MM/dd/yyyy'}}</td>
						<td class="text-center">
							<span ng-if="row.InAm == 1">{{FormatDate(row.InAmDateTime)}}</span>
							<i ng-if="row.InAm == 0" class="fa fa-times text-danger"></i>
						</td>
						<td class="text-center">
							<span ng-if="row.OutAm == 1">{{FormatDate(row.OutAmDateTime)}}</span>
							<i ng-if="row.OutAm == 0" class="fa fa-times text-danger"></i>
						</td>
						<td class="text-center">
							<span ng-if="row.InPm == 1">{{FormatDate(row.InPmDateTime)}}</span>
							<i ng-if="row.InPm == 0" class="fa fa-times text-danger"></i>
						</td>
						<td class="text-center">
							<span ng-if="row.OutPm == 1">{{FormatDate(row.OutPmDateTime)}}</span>
							<i ng-if="row.OutPm == 0" class="fa fa-times text-danger"></i>
						</td>
						<td class="text-center print-hidden" ng-if="checkRole('Event','AllowDelete')">
							<button  class="btn btn-danger btn-sm" ng-click="openDeleteModal('md',row.Id)"> <i class="fa fa-trash-o"></i> </button>
						</td>
					</tr>
				</tbody>
			</table>
	
	
	
	
	</div>
	</div>
  </div>
		
		
		

        </div>
        <div class="modal-footer text-center">
            <button class="btn btn-default" type="button" ng-click="close()"><i class="fa fa-times"></i> Cancel</button>
        </div>