
<div class="block-flat">
						<div class="header">		
							<div ng-if="memberType.EnableAdd==true" class="pull-right"><a href="#/member/form/{{type}}/0" class="btn btn-info"><i class="fa fa-plus"></i> Add New {{memberType.type}}</a></div>
											<h3>{{memberType.type}} List</h3>
						</div>
<div class="row">
	<div class="col-md-12">
					<form ng-submit="load()" class="form-inline filter_form">

																<div class="form-group">
							<input type="text" class="form-control" ng-model="searchText">

						</div>
						<div class="form-group">
							<button class="btn btn-primary nomargin" type="submit">Submit</button>
						</div>
					</form>
					
				<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Id Number</th>
						<th>Barcode No.</th>
						<th>Name</th>
						<th>Gender</th>
						<!-- <th>Address</th> -->
						<th>Course </th>
						<th>Year</th>
						<th>Section</th>
						<!-- <th>Email</th> -->
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in list">
						<td>{{row.IdNumber}}</td>
						<td>{{row.Barcode}}</td>
						<td>{{row.firstname}} {{row.middlename}} {{row.lastname}}</td>
						<td>{{row.gender}}</td>
						<!-- <td>{{row.address}}</td> -->
						<td>{{row.code}}</td>
						<td>{{row.year}}</td>
						<td class="text-center">{{row.section}}</td>
						<!-- <td>{{row.email}}</td> -->
						<td>
							<a href="javascript:void(0)" ng-click="viewFullInfoModal('md',row.Id)" class="btn btn-info btn-sm">View Full Info </a>
							<a href="javascript:void(0)" ng-click="moveToModal('md',row.Id)" class="btn btn-primary btn-sm">Move to </a>
							<a class="btn btn-success btn-sm" href="#/member/form/{{type}}/{{row.Id}}">  <i class="fa fa-edit"></i> </a>
							<button class="btn btn-danger btn-sm" ng-click="openDeleteModal('md',row.Id)">  <i class="fa fa-trash-o"></i> </button>
						</td>
					</tr>
				</tbody>
			</table>
			  <uib-pagination ng-model="pageNo" ng-click="pageChanged()" items-per-page="pageSize" total-items="count"  max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></uib-pagination>
	</div>
</div>
</div>
