
<div class="block-flat">
						<div class="header">		
							<div ng-show="memberType.EnableAdd==true && checkRole('Member','AllowAdd')" class="pull-right">
								<a href="#/member/form/{{type}}/0" class="btn btn-info"><i class="fa fa-plus"></i> Add New {{memberType.type}}</a>
							</div>
											<h3>{{memberType.type}} List</h3>
						</div>
<div class="row" ng-show="checkRole('Member','AllowView')">
<!-- 	<div class="col-md-12">
					<form  class="form-inline filter_form">
					<div class="form-group">
							<label>Semester</label>
							<select ng-change="load()" class="form-control" ng-model="Semester" ng-options="s.Semester as s.Semester for s in SemesterList"></select>
					</div>
					<div class="form-group">
							<label>School Year</label>
							<select ng-change="load()" class="form-control" ng-model="SchoolYear" ng-options="sy.Id as sy.YearFrom+' - '+sy.YearTo for sy in SchoolYearList"></select>
					</div>
					</form>
					<hr>
	</div> -->
	<div class="col-md-12">
					<form ng-submit="load()" class="form-inline filter_form">

																<div class="form-group">
							<input type="text" class="form-control" ng-model="searchText">

						</div>
						<div class="form-group">
							<button class="btn btn-primary nomargin" type="submit"><i class="fa fa-search"></i>	 Search</button>
						</div>
					</form>
					
				<table class="table table-bordered table-condensed" ts-wrapper>
				<thead>
					<tr>
						<th ts-criteria="IdNumber" ts-default>Id Number</th>
						<th ts-criteria="Barcode">Barcode No.</th>
						<th ts-criteria="firstname">Name</th>
						<th ts-criteria="gender">Gender</th>
						<th ts-criteria="code">Course </th>
						<th ts-criteria="year">Year</th>
						<th ts-criteria="section">Section</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in list" ts-repeat>
						<td>{{row.IdNumber}}</td>
						<td>{{row.Barcode}}</td>
						<td>{{row.firstname}} {{row.middlename}} {{row.lastname}}</td>
						<td>{{row.gender}}</td>
						<td>{{row.code}}</td>
						<td>{{row.year}}</td>
						<td class="text-center">{{row.section}}</td>
						<td class="text-center">
							<a ng-href="core/class/uploads/{{row.ImageUrl}}" data-lightbox="roadtrip">
								<img  check-image ng-src="core/class/uploads/{{row.ImageUrl}}" class="img-circle" style="max-height:60px;max-width:60px">
							</a>
						</td>
						<td>
							<a href="javascript:void(0)" ng-click="viewFullInfoModal('lg',row.Id)" class="btn btn-info btn-sm">View Full Info </a>
							<a ng-show="memberType.Movable==1" ng-if="checkRole('Member','AllowEdit')" href="javascript:void(0)" ng-click="moveToModal('md',row.Id)" class="btn btn-primary btn-sm">Move to </a>
							<a ng-if="checkRole('Member','AllowEdit')" class="btn btn-success btn-sm" href="#/member/form/{{type}}/{{row.Id}}">  <i class="fa fa-edit"></i> </a>
							<button ng-if="checkRole('Member','AllowDelete')" class="btn btn-danger btn-sm" ng-click="openDeleteModal('md',row.Id)">  <i class="fa fa-trash-o"></i> </button>
						</td>
					</tr>
				</tbody>
			</table>
			  <uib-pagination ng-model="pageNo" ng-click="pageChanged()" items-per-page="pageSize" total-items="count"  max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></uib-pagination>
	</div>
</div>
</div>
