@font-face {
  font-family: 'OpenSans';
  src: url("OpenSans-Regular.ttf"); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\000037}}
.counter_bg {
  background: #23262b none repeat scroll 0 0 !important;
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000311}}
.nomargin {
  margin: 0px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000314}}
.counter_number {
  font-size: 69px !important;
  line-height: 58px; }

/* Make it a marquee */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000319}}
.announcement {
  color: #fff;
  min-width: 400px;
  margin-right: 200px;
  padding-top: 10px;
  font-size: 32px;
  margin-top: 4px;
  text-transform: capitalize; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000328}}
.marquee {
  width: 100%;
  padding-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000332}}
.counter_tile .content {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000341}}
.counter_div h1 {
  font-size: 300px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000345}}
.danger {
  color: #e44c34; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000346}}
.success {
  color: #19b698; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000347}}
.notification_a {
  display: block !important;
  position: relative;
  white-space: normal !important;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000353}}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000362}}
.col-xs-15 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000367}}
  .col-sm-15 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000373}}
  .col-md-15 {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000379}}
  .col-lg-15 {
    width: 20%;
    float: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000384}}
.fd-tile h2 {
  font-size: 24px;
  min-height: 52px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000388}}
.fd-tile.weather {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000394}}
.area_thumb {
  margin-top: 0px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\0000397}}
.area_thumb .area_col {
  padding-left: 5px;
  padding-right: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003101}}
.multi-select-div .btn-group {
  width: 100% !important;
  display: block !important;
  text-align: left !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003106}}
.multi-select-div .btn-group .dropdown-menu {
  margin-top: 34px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003109}}
.multiselect {
  width: 100% !important;
  display: block !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003113}}
#datatable_wrapper .row {
  margin-top: 0px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003116}}
.login-container .middle-login {
  left: 50%;
  margin-left: -215px;
  margin-top: -250px;
  position: absolute;
  top: 50%;
  width: 430px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003124}}
.login-container .middle-login img {
  margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003127}}
#progress-bar {
  background-color: #12CC1A;
  height: 20px;
  color: #FFFFFF;
  width: 0%;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  transition: width .3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003128}}
.btnSubmit {
  background-color: #09f;
  border: 0;
  padding: 10px 40px;
  color: #FFF;
  border: #F0F0F0 1px solid;
  border-radius: 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003129}}
#progress-div {
  border: #0FA015 1px solid;
  padding: 5px 0px;
  margin: 30px 0px;
  border-radius: 4px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003130}}
#targetLayer {
  width: 100%;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003131}}
body, a, label, h1, h2, h3, h4, h5 {
  font-family: OpenSans !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003134}}
.table hr {
  margin-top: 5px;
  margin-bottom: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003138}}
.modal_remove {
  background: #FF6F1C none repeat scroll 0 0 !important;
  border-radius: 50%;
  color: #fff;
  font-size: 17px;
  height: 30px;
  right: -18px;
  padding: 3px;
  position: absolute;
  text-align: center;
  top: -17px;
  width: 30px;
  z-index: 99999;
  opacity: 100; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003153}}
.modal_remove:hover {
  opacity: 100; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003156}}
.modal-lg .modal-content {
  padding: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003159}}
.parent_sub td:first-child {
  text-indent: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003162}}
#form_add .btn, .tab-content .btn {
  margin-left: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003165}}
.tab-content {
  padding-left: 10px;
  padding-right: 10px;
  border: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003170}}
.parent.open ul {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003173}}
.modal-body {
  padding: 5px 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003176}}
.modal-header {
  background: #7761A7;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003180}}
.weather p {
  min-height: 65px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003183}}
.weather a {
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003186}}
.logo-image {
  margin-left: auto;
  margin-right: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003190}}
.sidebar-logo {
  background: transparent;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003194}}
.cl-mcont {
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003197}}
.nav-tabs {
  border-bottom: 1px solid #ddd;
  margin-left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003201}}
.alert h4 {
  margin-bottom: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003204}}
.cl-vnavigation .active > a {
  background: #FF6F1C none repeat scroll 0 0;
  border-left: 2px solid #fff;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003209}}
th {
  font-weight: bold !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003213}}
.header .row {
  margin-top: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xampp\/htdocs\/q_system\/admin\/css\/sass\/custom\.scss}line{font-family:\00003216}}
.btn-lg {
  font-size: 15px;
  font-weight: 300;
  padding: 12px 14px !important; }

/*# sourceMappingURL=custom.css.map */
