
<div class="block-flat">
						<div class="header">		
<div class="pull-right"><a href="#/event/list" class="btn btn-arrow-left"><i class="fa fa-arrow-left"></i> Back</a></div>												
											<h3>{{formData.Name}} Attendance List</h3>
						</div>
<div class="row" >
	<div class="col-md-12" ng-show="checkRole('Event','AllowView')">
	<div class="pull-right">
		<button type="button" class="btn btn-info" ng-click="printDiv('print')" ><i class="fa fa-print"></i> Print</button>
	</div>
					<form ng-submit="load()">
						<div class="input-group col-sm-5">
							<input type="text" class="form-control" ng-model="searchText">
							<span class="input-group-btn">
							<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> Search</button>
							</span>
						</div>
					</form>
				<div id="print">	
				<div class="text-center visible-print-block reportHeader">
				<h2>{{formData.Name}} Attendance List</h2>
				<h3>Event Date : {{formData.EventDate | date:'MM/dd/yyyy'}}</h3>
				</div>
				<table class="table table-bordered" ng-if="count > 0" ts-wrapper>
				<thead>
					<tr>
						<th ts-criteria="firstname" ts-default>Name</th>
						<th ts-criteria="code">Course</th>
						<th ts-criteria="year">Year</th>
						<th ts-criteria="section">Section</th>
						<th class="text-center">In AM</th>
						<th class="text-center">Out AM</th>
						<th class="text-center">In PM</th>
						<th class="text-center">Out PM</th>
						<th class="print-hidden" style="width:10%" ng-if="checkRole('Event','AllowDelete')"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in list" ts-repeat>
						<td>{{row.firstname}} {{row.middlename}} {{row.lastname}}</td>
						<td class="text-center">{{row.code}}</td>
						<td class="text-center">{{row.year}}</td>
						<td class="text-center">{{row.section}}</td>
						<td class="text-center">
							<i ng-if="row.InAm == 1" class="fa fa-check text-success"></i>
							<i ng-if="row.InAm == 0" class="fa fa-times text-danger"></i>
						</td>
						<td class="text-center">
							<i ng-if="row.OutAm == 1" class="fa fa-check  text-success"></i>
							<i ng-if="row.OutAm == 0" class="fa fa-times text-danger"></i>
						</td>
						<td class="text-center">
							<i ng-if="row.InPm == 1" class="fa fa-check  text-success"></i>
							<i ng-if="row.InPm == 0" class="fa fa-times text-danger"></i>
						</td>
						<td class="text-center">
							<i ng-if="row.OutPm == 1" class="fa fa-check text-success"></i>
							<i ng-if="row.OutPm == 0" class="fa fa-times text-danger"></i>
						</td>
						<td class="text-center print-hidden" ng-if="checkRole('Event','AllowDelete')">
							<button  class="btn btn-danger btn-sm" ng-click="openDeleteModal('md',row.Id)"> <i class="fa fa-trash-o"></i> </button>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="alert alert-danger" ng-if="count <= 0">No Result Found</div>
			 
	</div>
</div>
</div>
