
<div class="block-flat">
						<div class="header">							
											<h3>Event List</h3>
						</div>
<div class="row">
	<div class="col-md-12">
					<form  class="form-inline filter_form">
					<div class="form-group">
							<label>Semester</label>
							<select ng-change="load()" class="form-control" ng-model="Semester" ng-options="s.Semester as s.Semester for s in SemesterList"></select>
					</div>
					<div class="form-group">
							<label>School Year</label>
							<select ng-change="load()" class="form-control" ng-model="SchoolYear" ng-options="sy.Id as sy.YearFrom+' - '+sy.YearTo for sy in SchoolYearList"></select>
					</div>
					</form>
					<hr>
	</div>
	<div class="col-md-3">
		<form method="POST"  ng-submit="save()">
				<div class="form-group">
					<label for="exampleInputPassword1">Name</label>
					<input type="text" ng-model="formData.Name"  class="form-control" required>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Place</label>
					<input type="text" ng-model="formData.Place"  class="form-control" required>
				</div>
				<button type="submit"  class="btn btn-success btn-sm"><i class="fa fa-save"></i> Save</button>
		</form>
	</div>
	<div class="col-md-9">
					<form ng-submit="load()">
						<div class="input-group col-sm-5">
							<input type="text" class="form-control" ng-model="searchText">
							<span class="input-group-btn">
							<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> Search</button>
							</span>
						</div>
					</form>
					
				<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Name</th>
						<th>Place</th>
						<th>Date Created</th>
						<th width="20%"></th>
						<th width="20%"></th>
						<th width="20%"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in list">
						<td>{{row.Name}}</td>
						<td>{{row.Place}}</td>
						<td>{{row.DateCreated | date:'MM/dd/yyyy'}}</td>
						<td class="text-center"><a href="#/event/form/{{row.Id}}" target="_blank" class="btn btn-primary btn-sm">Attendance Form</a></td>
						<td class="text-center"><a href="#/event/details/{{row.Id}}" class="btn btn-info btn-sm">View Details</a></td>
						<td>
							<button class="btn btn-success btn-sm" ng-click="getById(row.Id)"> <i class="fa fa-edit"></i> </button>
							<button class="btn btn-danger btn-sm" ng-click="openDeleteModal('md',row.Id)"> <i class="fa fa-trash-o"></i> </button>
						</td>
					</tr>
				</tbody>
			</table>
			  <uib-pagination ng-model="pageNo" ng-click="pageChanged()" items-per-page="pageSize" total-items="count"  max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></uib-pagination>
	</div>
</div>
</div>
